<ion-header>
	<ion-toolbar>
		<ion-row>
			<ion-col size="2" class="searchBack">
				<ion-icon name="arrow-round-back" routerLink="/home/categories"></ion-icon>
			</ion-col>
			<ion-col size="10">
				<ion-input set-focuser #searchInput type="text" placeholder="Search here.."
					(input)="searchNews($event.target.value)"></ion-input>
			</ion-col>
		</ion-row>
	</ion-toolbar>
</ion-header>
<ion-content padding>
	<ion-row class="searchResults" *ngFor="let searchNews of newsArray">
		<ion-col size="3" class="newsImg" padding (click)="getSingleSearch()">
			<img src="{{mediaPath}}{{searchNews.newsImage}}" height="73px" width="100%">
		</ion-col>
		<ion-col size="9" (click)="getSingleSearch(searchNews.newsId)">
			<div padding>
				<p class="newsCat" *ngIf="language == 'English'">{{searchNews.newsCategory}}</p>
				<p class="newsCat" *ngIf="language == 'Hindi'">{{searchNews.newsCategoryHn}}</p>
				<span class="optionsList" *ngIf="language == 'English'"
					[innerHTML]="searchNews.newsTitleEnglish | slice:0:70"></span>
				<span class="optionsList" *ngIf="language == 'Hindi'" [innerHTML]="searchNews.newsTitleHindi"></span>
			</div>
		</ion-col>
	</ion-row>
	<div id="loader-wrapper" *ngIf="loading">
        <div id="loader">
            <span class="welcomeTo">Welcome to</span>
            <span class="logo_container">
                <img src="../../assets/images/Logo.png" alt="logo">
            </span>
            <div class="welcomeTo appDesc">Interesting and</div>
            <div class="welcomeTo appDesc">Informative reads</div>
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <p class="text-center">Loding...</p>
        </div>
    </div>
	<div *ngIf="box" id="box">
		<img src="assets/images/seo.png" alt="">
	</div>
	<div *ngIf="searchLength == 0" id="box">
		<img src="assets/images/seo.png" alt="">
	</div>
</ion-content>