<ion-content class="background">
  <img src="assets/images/left-arrow.png" alt="" id="backButton" routerLink="/login" (click)="goBack()">
  <div class="loginDiv">
    <div class="header">
      <img src="assets/images/Logo.png" height="auto" width="30%">
      <div>Just Read & Share</div>
    </div>
    <div class="loginBody">
      <form [formGroup]="loginForm" padding class="loginForm">
        <div class="buttonInside">
          Username:
          <input [(ngModel)]="login.userName" [ngModelOptions]="{standalone: true}">
          <button id="eye">
            <ion-icon name="person"></ion-icon>
          </button>
        </div>
        <div class="buttonInside">
          Password:
          <input [type]="passwordType" [(ngModel)]="login.password" [ngModelOptions]="{standalone: true}">
          <button id="eye">
            <ion-icon name="eye" [name]="passwordIcon" (click)='hideShowPassword()'></ion-icon>
          </button>
        </div>
        <button class="submitLogin" (click)="loginClick(login)">
          Sign In
        </button>
        <span class="fdiv">
          <label id="forgotPassword" for="forgotPasswordModal">Forgot Password?</label>
          <input type="checkbox" id="forgotPasswordModal" class="checkBox" />
          <div class="modal">
            <div class="modal__inner">
              <p style="text-align: center;"><i id="signup">Forgot Password</i></p>
              <form [formGroup]="forgotPassword">
                <div class="signup_input">
                  <input type="text" name="" placeholder="Please enter email" formControlName="email"
                    [(ngModel)]="forgot.email">
                </div>
                <button (click)="resetPassword(forgot)" class="submitLogin resetPass">Reset Password</button>
              </form>
              <label for="forgotPasswordModal">
                <ion-icon class="forgotModalClose" name="close" (click)="signUpClose()"></ion-icon>
              </label>
            </div>
          </div>
        </span>
      </form>
    </div>
  </div>
  <div id="loader-wrapper" *ngIf="loading">
    <div id="loader">
      <span class="welcomeTo">Welcome to</span>
      <span class="logo_container">
        <img src="../../assets/images/Logo.png" alt="logo">
      </span>
      <div class="welcomeTo appDesc">Interesting and</div>
      <div class="welcomeTo appDesc">Informative reads</div>
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <p class="text-center">Loding...</p>
    </div>
  </div>
</ion-content>