<div>
  <div class="settingsToolbar">
    <ion-back-button
      name="arrow-round-back"
      class="homeBack"
      class="homeBack"
      defaultHref="/home"
      float-left
      (click)="backButton()"
    >
    </ion-back-button>
    <span id="settingTitle">{{termsTitle[language]}}</span>
    <button float-right routerLink="/home">
      <ion-icon name="home"></ion-icon>
    </button>
  </div>
</div>
<ion-content padding *ngIf="!loading">
  <div *ngFor="let policy of privacyPolicy">
    <div [innerHTML]="policy.terms" id="termsAndCondotion"></div>
  </div>
</ion-content>
<ion-content *ngIf="loading" class="loadingContent"> </ion-content>
