<div
  [ngClass]="{'tourBlur': ifTourCompleted && !skip}"
  class="container"
  (click)="singleCategory(category.categoryId,category.category[language])"
>
  <img
    src="{{mediaPath}}{{category.categoryImage}}"
    data-src="../../assets/images/placeholder.png'"
    onerror="this.src='../../assets/images/placeholder.png'"
    alt="Category Image"
    style="width:100%;"
  />
</div>
<div class="text-block">
  <div
    *ngIf="!category.isNotify && (firstTime && !skip) && index == 0"
    class="tourText"
  >
    {{tourCategory[language]}}
  </div>
  <div class="">
    <div
      class="category_title"
      [ngClass]="{'tourBlur': ifTourCompleted && !skip}"
    >
      <p
        *ngIf="language != 'as'"
        (click)="singleCategory(category.categoryId,category.category[language])"
      >
        {{category.category[language] | slice:0:30}}
      </p>
      <p
        *ngIf="language == 'as'"
        class="assameseFont"
        (click)="singleCategory(category.categoryId,category.category[language])"
      >
        {{category.category[language] | slice:0:30}}
      </p>
    </div>
    <!-- <p class="postCount">{{category.countPost}} Posts</p> -->
    <button
      *ngIf="!category.isNotify && (!firstTime || skip)"
      class="notSubscribed"
      [ngClass]="{'tourBlur': ifTourCompleted && !skip}"
      (click)="addNotify(category.categoryId, category.isNotify,firstTime)"
    >
      <ion-icon name="notifications-outline"></ion-icon> Subscribe
    </button>
    <button
      *ngIf="!category.isNotify && (firstTime && !skip) && index == 0"
      class="notSubscribed firstTimeButton"
      (click)="addNotify(category.categoryId, category.isNotify,firstTime)"
    >
      <div class="ripple_effect"></div>
      <ion-icon name="notifications-outline"></ion-icon> Subscribe
    </button>
    <button
      *ngIf="!category.isNotify && (firstTime && !skip) && index != 0"
      class="notSubscribed notFirstTime"
      [ngClass]="{'tourBlur': ifTourCompleted && !skip}"
      (click)="addNotify(category.categoryId, category.isNotify,firstTime)"
    >
      <ion-icon name="notifications-outline"></ion-icon> Subscribe
    </button>
    <button
      *ngIf="category.isNotify"
      class="subscribed"
      [ngClass]="{'tourBlur': ifTourCompleted && !skip}"
      (click)="addNotify(category.categoryId, category.isNotify,firstTime)"
    >
      Subscribed
    </button>
  </div>
</div>

<div id="open-modal" class="modal-window" *ngIf="modal">
  <div>
    <div class="img_border">
      <img
        src="../../assets/images/bookmarkNew.png"
        alt=""
        *ngIf="sliderIndex == 0 || !sliderIndex"
      />
      <img
        src="../../assets/images/notificationNew.png"
        alt=""
        *ngIf="sliderIndex == 1"
      />
    </div>
    <ion-slides pager (ionSlideWillChange)="slideDidChange()">
      <ion-slide>
        <h3>{{modalBookmarkTitle[language]}}</h3>
        <p>{{modalBookmarkText[language]}}</p>
      </ion-slide>

      <ion-slide>
        <div></div>
        <h3>{{modalNotificationTitle[language]}}</h3>
        <p>{{modalNotificationText[language]}}</p>
      </ion-slide>
    </ion-slides>
    <div>
      <button class="signupButton" (click)="redirectToSignup()">Signup</button>
      <button class="cancelButton" (click)="closeModal()">
        <!-- <div class="ripple_effect"></div> -->
        Skip
      </button>
      <!-- <div class="tourText tourTextModal">
        {{proceedTour[language]}}
      </div> -->
    </div>
  </div>
</div>
