<div class="container" (click)="singleCategory(category.categoryId,category.categoryTitle)">
  <img src="{{mediaPath}}{{category.categoryImage}}" alt="Category Image" style="width:100%;">
</div>
<div class="text-block">
  <div class="">
    <div class="category_title">
      <p *ngIf="language == 'English'" (click)="singleCategory(category.categoryId,category.categoryTitle)">
        {{category.categoryTitle | slice:0:30}}</p>
      <p *ngIf="language == 'Hindi'" (click)="singleCategory(category.categoryId,category.categoryTitleHn)">
        {{category.categoryTitleHn | slice:0:30}}</p>
    </div>
    <p class="postCount">{{category.postCount}} Posts</p>
    <button *ngIf="!category.isNotify" class="notSubscribed"
      (click)="addNotify(category.categoryId, category.isNotify)">
      <ion-icon name="notifications-outline"></ion-icon> Subscribe
    </button>
    <button *ngIf="category.isNotify" class="subscribed"
      (click)="addNotify(category.categoryId, category.isNotify)">Subscribed</button>
  </div>
</div>