ion-col {
  padding: 12px;
}
p {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
}
.category_title {
  display: inline-block;
  width: 100%;
}
.text-block {
  position: absolute;
  bottom: 13%;
  color: white;
  padding: 0 5%;
  z-index: 9999;
  font-weight: 700;
  font-size: 17px;
  left: 12px;
  right: 12px;
}
.container:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}
.container img {
  height: 184px;
  object-fit: cover;
}
.postCount {
  font-size: 11px;
  float: left;
  background: #000;
  margin-top: 7%;
  padding: 2%;
  opacity: 0.7;
  border-radius: 3px;
}
.notSubscribed,
.subscribed {
  margin-top: 7%;
  margin-left: 7%;
  background-color: #fff;
  opacity: 0.9;
  border: 1px solid #ce2837;
  color: #ce2837;
  padding: 4px;
  border-radius: 3px;
  font-size: 10px;
  float: left;
}
.notSubscribed ion-icon {
  float: left;
}

.notSubscribed {
  background-color: #fff;
  border: 1px solid #ce2837;
  color: #ce2837;
}
.subscribed {
  color: #fff;
  background-color: #ce2837;
}
