<ion-list lines="none">
  <ion-item-sliding class="feeds">
    <ion-item>
      <ion-col size="3" class="newsImg" padding>
        <img
          src="{{mediaPath}}{{news.newsImage}}"
          data-src="assets/images/spinner.gif'"
          onerror="this.src='assets/images/spinner.gif'"
          height="73px"
          width="100%"
          (click)="singleNews(news.newsId)"
          class="loading"
        />
      </ion-col>
      <ion-col size="9" class="postDescription">
        <div>
          <span
            class="optionsList"
            *ngIf="language != 'as'"
            [innerHTML]="news[language].title | slice:0:50"
            (click)="singleNews(news.newsId)"
          ></span
          >
          <span
            class="optionsList assameseFont"
            *ngIf="language == 'as'"
            [innerHTML]="news[language].title | slice:0:50"
            (click)="singleNews(news.newsId)"
          ></span
          >
          <span
            (click)="categoryClick(news.newsCategoryId, news.newsCategory[language])"
            class="categoryButton" *ngIf="language != 'as'"
            >{{news.newsCategory[language]}}</span
          >
          <span
            (click)="categoryClick(news.newsCategoryId, news.newsCategory[language])"
            class="categoryButton assameseFont" *ngIf="language == 'as'"
            >{{news.newsCategory[language]}}</span
          >
        </div>
      </ion-col>
    </ion-item>
  </ion-item-sliding>
</ion-list>