<div>
  <div class="settingsToolbar">
    <ion-back-button
      name="arrow-round-back"
      class="homeBack"
      class="homeBack"
      defaultHref="/settings"
      float-left
      (click)="backButton()"
    >
    </ion-back-button>
    <span id="settingTitle">{{bookmarkTitle[language]}}</span>
    <button float-right routerLink="/home">
      <ion-icon name="home"></ion-icon>
    </button>
  </div>
</div>

<ion-content *ngIf="!loading">
  <ion-list>
    <ion-item-sliding
      class="feeds"
      *ngFor="let news of newsArray; let i = index; last as isLast"
    >
      <ion-item>
        <ion-col size="3" class="newsImg" padding>
          <img
            src="{{mediaPath}}{{news.newsImage}}"
            height="73px"
            width="100%"
            (click)="getSingleBookmark(news.newsId)"
          />
        </ion-col>
        <ion-col size="9" (click)="getSingleBookmark(news.newsId)">
          <div>
            <span
              class="optionsList"
              *ngIf="language != 'as'"
              [innerHTML]="news[language].title | slice:0:55"
            ></span>
            <span
              class="optionsList assameseFont"
              *ngIf="language == 'as'"
              [innerHTML]="news[language].title | slice:0:35"
            ></span>
            <span *ngIf="news[language].title.length >= 55">...</span>
          </div>
        </ion-col>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon
            slot="icon-only"
            name="trash"
            (click)="deleteBookmarked(news.newsId)"
          ></ion-icon>
        </ion-item-option>
        <ion-item-option>
          <ion-icon
            slot="icon-only"
            name="share"
            *ngIf="language != 'as'"
            (click)="shareBookmarked(news.newsImage,news.fcmLink, news[language].title)"
          ></ion-icon>
          <ion-icon
            slot="icon-only"
            name="share"
            *ngIf="language == 'as'"
            (click)="shareBookmarked(news.newsImage,news.fcmLink, news.en.title)"
          ></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div class="noBookmark" *ngIf="bookmarkLength == 0">
    <img src="assets/images/bookmarkEmpty.png" />
  </div>
</ion-content>
<ion-content *ngIf="loading" class="loadingContent"> </ion-content>