<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-round-back" class="homeBack" routerLink="/settings" float-left></ion-icon>
    <ion-title>Bookmark</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding class="feeds" *ngFor="let news of newsArray; let i = index; last as isLast">
      <ion-item>
        <ion-col size="3" class="newsImg" padding>
          <img src="{{mediaPath}}{{news.newsImage}}" height="73px" width="100%" (click)="getSingleBookmark(news.newsId)">
        </ion-col>
        <ion-col size="9">
          <div>
            <span class="optionsList" *ngIf="language == 'English'" [innerHTML]="news.newsTitleEnglish"
              (click)="getSingleBookmark(news.newsId)"></span><span *ngIf="language == 'English'"></span>
            <span class="optionsList" *ngIf="language == 'Hindi'" [innerHTML]="news.newsTitleHindi"></span><span
              *ngIf="language == 'Hindi'" (click)="getSingleBookmark(news.newsId)"></span>
            <button (click)="categoryClick(news.newsCategoryId, news.newsCategory)"
              class="categoryButton">{{news.newsCategory}}</button>
              <p class="otherInfoSecond"><img src="assets/images/lightbulb_red.png" alt="" class="likeImage">
                {{news.likesCount}} likes <span class="timeAgo"> {{news.createdAt | timeAgo}} </span></p>
          </div>
        </ion-col>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash" (click)="deleteBookmarked(news.newsId)"></ion-icon>
        </ion-item-option>
        <ion-item-option>
          <ion-icon slot="icon-only" name="share"
            (click)="shareBookmarked(news.newsImage,news.fcmLink, news.newsTitleEnglish)"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div id="loader-wrapper" *ngIf="loading">
    <div id="loader">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <p class="text-center">Loding...</p>
    </div>
  </div>
  <div class="noBookmark">
    <img src="assets/images/bookmarkEmpty.png" *ngIf="noNews == true">
  </div>
</ion-content>