<ion-content>
    <ion-row *ngIf="categories">
        <ion-col size="6" *ngFor="let category of categories">
            <app-category-tiles [category]="category" (onSubscribe)="subscribedCategory($event, isNotify)"
                [language]="language"></app-category-tiles>
        </ion-col>
    </ion-row>
    <div id="loader-wrapper" *ngIf="loading">
        <div id="loader">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <p class="text-center">Loding...</p>
        </div>
    </div>
</ion-content>