.toast-container {
  background: yellow;
}

.toast-md .toast-message {
  color: red;
}
body {
  background: url(https://subtlepatterns.com/patterns/crossword.png);
  font-family: sans-serif;
  color: #333;
  text-align: center;
}
h1 {
  margin: 80px 0;
}
.btn {
  background: #428bca;
  border: #357ebd solid 0px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color 0.1s ease;
}
.btn:hover {
  background: #357ebd;
}
.btn.btn-big {
  font-size: 18px;
  padding: 15px 20px;
  min-width: 100px;
}
.btn-close {
  color: #aaaaaa;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  position: absolute;
  right: 7px;
  top: 0;
}
.btn-close:hover {
  color: #919191;
}
.modale:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.opened:before {
  display: block;
}
.opened .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}
.modal-dialog {
  background: #fefefe;
  border: #333333 solid 0px;
  border-radius: 5px;
  margin-left: -200px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  width: 360px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-body {
  padding: 20px;
}
.modal-body input {
  width: 200px;
  padding: 8px;
  border: 1px solid #ddd;
  color: #888;
  outline: 0;
  font-size: 14px;
  font-weight: bold;
}
.modal-header,
.modal-footer {
  padding: 10px 20px;
}
.modal-header {
  border-bottom: #eeeeee solid 1px;
}
.modal-header h2 {
  font-size: 20px;
}

.modal {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 500ms ease-in-out;
  &__inner {
    transform: translate(-50%, -50%) scale(0.75);
    top: 50%;
    color: #fff;
    font-size: 24px;
    left: 50%;
    width: 50%;
    padding: 30px;
    position: absolute;
    @media (max-width: 640px) {
      width: 100%;
    }
  }
}
label {
  float: right;
  cursor: pointer;
  &.open {
    transition: color 200ms ease-in-out;
  }
}
.checkBox {
  display: none;
}
input {
  &:checked {
    + .modal {
      opacity: 1;
      visibility: visible;
      .modal__inner {
        transform: translate(-50%, -50%) scale(1);
        transition: all 200ms ease-in-out;
        p {
          font-size: 1.25rem;
          line-height: 125%;
        }
      }
      label {
        position: absolute;
        top: 0px;
        right: 25px;
        height: 24px;
        width: 24px;
        transition: all 200ms ease-in-out;
      }
    }
  }
}

#signupHead {
  font-family: "FREESCPT";
  text-align: center;
  font-size: 31px;
  margin: 0;
}

.signup_input input {
  color: #000;
  border-radius: 11px;
  width: 100%;
  font-size: 21px;
  padding-left: 20%;
  height: 53px;
}

.signupButton button {
  border-radius: 9px;
  padding: 17px;
  font-size: 17px;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  color: #fff;
  background: var(--main-app-color);
}

.signupButton {
  margin-top: 10px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 20px;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 20px;
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 20px;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 20px;
}

.signup_input ion-icon {
  color: grey;
  margin-bottom: -13%;
  margin-left: 2%;
  padding-left: 2%;
}


.backgroundOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #000000;
  opacity: 0.85;
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  z-index: 101;
}
/*   This is the Popup Window   */
.delayedPopupWindow {
  position: fixed;
  width: 80%;
  background-color: #efefef;
  border: 2px solid #333;
  z-index: 102;
  padding: 10px 20px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 11px;
}
.img_border {
  position: absolute;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 50%;
  margin: auto;
  width: 77px;
  height: 77px;
  padding: 13px;
  top: -10%;
  left: 0;
  right: 0;
  box-shadow: 2px 2px 3px 0 #ddd;
  padding-top: 5px;
}
.rateButtons {
  float: right;
}
.delayedPopupWindow h5 {
  margin-top: 50px;
  text-align: center;
  font-weight: bolder;
  color: #e41212;
}
.delayedPopupWindow p{
  text-align: center;
  font-size: 14px;
  margin-bottom: 38px;
  padding: 0px 20px;
}
.delayedPopupWindow .ratingBack{
  height: 248px;
  right: 0;
  float: right;
  position: absolute;
  bottom: 0;
}
#rateButton {
  background: #e41212;
  color: #fff;
  padding: 7px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.rateButton {
  text-align: center;
  position: relative;
  z-index: 11;
  padding: 0 17px;
}
button#remindLater,button#noThanks {
  background: none;
  padding: 7px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 10px;
  border: 1px solid #e41212;
  color: #e41212;
}
button#noThanks{
  border: none;
}