<ion-row>
  <ion-col size="12" class="latestPost" (click)="singleNews(news.newsId)">
    <img
      class="latestpostimg firstTimeBlur"
      src="{{mediaPath}}{{news.newsImage}}"
      height="100%"
      data-src="../../assets/images/placeholder.png'"
      onerror="this.src='../../assets/images/placeholder.png'"
      *ngIf="!firstLargePostClick && !skip == 1"
      width="100%"
      (click)="singleNews(news.newsId)"
    />
    <img
      src="{{mediaPath}}{{news.newsImage}}"
      height="100%"
      data-src="../../assets/images/placeholder.png'"
      onerror="this.src='../../assets/images/placeholder.png'"
      width="100%"
      *ngIf="firstLargePostClick === '1' || skip == 1"
      (click)="singleNews(news.newsId)"
    />
    <img
      data-src="../../assets/images/placeholder.png'"
      onerror="this.src='../../assets/images/placeholder.png'"
      height="100%"
      width="100%"
      *ngIf="(firstLargePostClick === '1' || skip == 1) && noConnection"
      (click)="singleNews(news.newsId)"
    />
    <div
      *ngIf="!firstLargePostClick && !skip == '1'"
      class="tourText tourTextTitle"
    >
      {{tourReadPost[language]}}
    </div>
    <div class="textBlock">
      <span
        class="latestNews"
        *ngIf="!firstLargePostClick && language != 'as' && !skip == '1'"
        (click)="singleNews(news.newsId)"
      >
        {{news[language].title}}
        <div class="ripple_effect"></div>
      </span>
      <span
        class="latestNews assameseFont"
        *ngIf="!firstLargePostClick && language == 'as' && !skip == '1'"
        (click)="singleNews(news.newsId)"
      >
        news[language].title
        <div class="ripple_effect"></div>
      </span>
      <span
        class="latestNews"
        *ngIf="(skip == '1' || firstLargePostClick === '1') && language != 'as'"
        [innerHTML]="news[language].title"
        (click)="singleNews(news.newsId)"
      >
      </span>
      <span
        class="latestNews assameseFont"
        *ngIf="(skip == '1' || firstLargePostClick === '1') && language == 'as'"
        [innerHTML]="news[language].title"
        (click)="singleNews(news.newsId)"
      >
      </span>
      <!-- <span
        *ngIf="news[language].title.length >= 40 && language == 'en'"
        class="latestNews"
        >...</span
      > -->
    </div>
    <button
      (click)="singleNews(news.newsId)"
      class="categoryButton blinkCat"
      *ngIf="language != 'as' && !firstLargePostClick && !skip == '1'"
    >
      <div class="ripple_effect"></div>
      {{news.newsCategory[language]}}
    </button>
    <button
      (click)="singleNews(news.newsId)"
      class="categoryButton assameseFont blinkCat"
      *ngIf="language == 'as' && !firstLargePostClick && !skip == '1'"
    >
      <div class="ripple_effect"></div>
      {{news.newsCategory[language]}}
    </button>
    <button
      (click)="categoryClick(news.newsCategoryId, news.newsCategory[language]);wrongStatus = true"
      class="categoryButton"
      *ngIf="language != 'as' && firstLargePostClick === '1' || skip == '1'"
    >
      {{news.newsCategory[language]}}
    </button>
    <button
      (click)="categoryClick(news.newsCategoryId, news.newsCategory[language]);wrongStatus = true"
      class="categoryButton assameseFont"
      *ngIf="language == 'as' && (firstLargePostClick === '1' || skip == '1')"
    >
      {{news.newsCategory[language]}}
    </button>
    <div *ngIf="!firstLargePostClick && !skip == '1'" class="tourText">
      {{tourCatPost[language]}}
    </div>
  </ion-col>
</ion-row>
<div id="open-modal" class="modal-window" *ngIf="modal">
  <div>
    <div class="img_border">
      <img
        src="../../assets/images/bookmarkNew.png"
        alt=""
        *ngIf="sliderIndex == 0 || !sliderIndex"
      />
      <img
        src="../../assets/images/notificationNew.png"
        alt=""
        *ngIf="sliderIndex == 1"
      />
    </div>
    <ion-slides pager (ionSlideWillChange)="slideDidChange()">
      <ion-slide>
        <h3>Bookmark Posts</h3>
        <p>So you don't loose your favourite reading blogs</p>
      </ion-slide>

      <ion-slide>
        <div></div>
        <h3>Get Notifications</h3>
        <p>So you get instant notifications from your subscribed blogs</p>
      </ion-slide>
    </ion-slides>
    <div>
      <button class="signupButton" (click)="redirectToSignup()">Signup</button>
      <button class="cancelButton" (click)="closeModal()">
        <div class="ripple_effect"></div>
        Skip
      </button>
      <div class="tourText tourTextModal">
        Click here to proceed!
      </div>
    </div>
  </div>
</div>