<ion-row>
  <ion-col size="12" class="latestPost" (click)="singleNews(news.newsId)">
    <img
      src="{{mediaPath}}{{news.newsImage}}"
      height="100%"
      data-src="../../assets/images/placeholder.png'"
      onerror="this.src='../../assets/images/placeholder.png'"
      width="100%"
      (click)="singleNews(news.newsId)"
    />
    <img
      data-src="../../assets/images/placeholder.png'"
      onerror="this.src='../../assets/images/placeholder.png'"
      height="100%"
      width="100%"
      *ngIf="noConnection"
      (click)="singleNews(news.newsId)"
    />
    <div class="textBlock" [ngClass]="{'isVisited':isPresent}">
      <span
        class="latestNews"
        *ngIf="language != 'as'"
        [innerHTML]="news[language].title"
        (click)="singleNews(news.newsId)"
      >
      </span>
      <span
        class="latestNews assameseFont"
        *ngIf="language == 'as'"
        [innerHTML]="news[language].title"
        (click)="singleNews(news.newsId)"
      >
      </span>
      <span
        *ngIf="news[language].title.length >= 40 && language == 'en'"
        class="latestNews"
        >...</span
      >
    </div>
    <button
      (click)="singleNews(news.newsId)"
      class="categoryButton blinkCat"
      *ngIf="language != 'as'"
    >
      {{news.newsCategory[language]}}
    </button>
    <button
      (click)="categoryClick(news.newsCategoryId, news.newsCategory[language]);wrongStatus = true"
      class="categoryButton assameseFont"
      *ngIf="language == 'as'"
    >
      {{news.newsCategory[language]}}
    </button>
  </ion-col>
</ion-row>
