<ion-row class="mainDiv">
  <ion-col size="12" class="latestPost" (click)="singleNews(news.newsId)">
    <img
      class="latestpostimg firstTimeBlur"
      src="{{mediaPath}}{{news.newsImage}}"
      height="100%"
      onerror="this.src='../../assets/images/placeholder.png'"
      *ngIf="!firstLargePostClick && !skip == 1"
      width="100%"
      (click)="singleNews(news.newsId)"
    />
    <img
      src="{{mediaPath}}{{news.newsImage}}"
      height="100%"
      data-src="../../assets/images/placeholder.png'"
      onerror="this.src='../../assets/images/placeholder.png'"
      width="100%"
      *ngIf="firstLargePostClick === '1' || skip == 1"
      (click)="singleNews(news.newsId)"
    />
    <img
      data-src="../../assets/images/placeholder.png'"
      onerror="this.src='../../assets/images/placeholder.png'"
      height="100%"
      width="100%"
      *ngIf="(firstLargePostClick === '1' || skip == 1) && noConnection"
      (click)="singleNews(news.newsId)"
    />
    <div
      *ngIf="!firstLargePostClick && !skip == '1'"
      class="tourText tourTextTitle"
    >
      {{tourReadPost[language]}}
    </div>
    <div class="textBlock">
      <span
        class="latestNews"
        [ngClass]="{'assameseFont': language == 'as'}"
        *ngIf="!firstLargePostClick && !skip == '1' && news[language].title"
        (click)="singleNews(news.newsId)"
      >
        {{news[language].title}}
        <div class="ripple_effect"></div>
      </span>
      <span
        class="latestNews"
        [ngClass]="{'assameseFont': language == 'as'}"
        *ngIf="(skip == '1' || firstLargePostClick === '1') && news[language].title"
        [innerHTML]="news[language].title"
        (click)="singleNews(news.newsId)"
      >
      </span>
      <span
        class="latestNews"
        *ngIf="(skip == '1' || firstLargePostClick === '1') && !news[language].title"
        [innerHTML]="news.en.title"
        (click)="singleNews(news.newsId)"
      >
      </span>
    </div>
    <button
      (click)="singleNews(news.newsId)"
      class="categoryButton blinkCat"
      [ngClass]="{'assameseFont': language == 'as'}"
      *ngIf="!firstLargePostClick && !skip == '1'"
    >
      <div class="ripple_effect"></div>
      {{news.newsCategory[language]}}
    </button>
    <button
      (click)="categoryClick(news.newsCategoryId, news.newsCategory[language]);wrongStatus = true"
      class="categoryButton"
      [ngClass]="{'assameseFont': language == 'as'}"
      *ngIf="(firstLargePostClick === '1' || skip == '1') && news.newsCategory[language]"
    >
      {{news.newsCategory[language]}}
    </button>
    <button
      (click)="categoryClick(news.newsCategoryId, news.newsCategory.en);wrongStatus = true"
      class="categoryButton"
      *ngIf="(firstLargePostClick === '1' || skip == '1') && !news.newsCategory[language]"
    >
      {{news.newsCategory.en}}
    </button>
    <div *ngIf="!firstLargePostClick && !skip == '1'" class="tourText">
      {{tourCatPost[language]}}
    </div>
    <span class="nextSpan" *ngIf="!firstLargePostClick && !skip == '1'">
      <p class="nextButton">
        <img src="../../assets/images/nextButton.png" alt="" />
      </p>
      <div class="ripple_effect"></div>
    </span>
  </ion-col>
</ion-row>
