<div *ngIf="!loading">
    <div class="settingsToolbar">
        <ion-back-button name="arrow-round-back" class="homeBack" class="homeBack" defaultHref="/sidebar/home" float-left (click)="backClick()">
        </ion-back-button>
        <span id="settingTitle">Trivia Post</span>
        <button float-right routerLink="/home">
      <ion-icon name="home"></ion-icon>
    </button>
    </div>
</div>

<ion-content *ngIf="!loading" [ngClass]="{'notScroll': (!bookmarkFlag || !shareFlag) && !skip}">
    <div class="floatNext" *ngIf="(!bookmarkFlag || !shareFlag) && !skip" (click)="nextButton()">
        <div class="ripple_effect"></div>
        <img src="assets/images/nextButton.png" class="my-floatNext" alt="" />
    </div>
    <div *ngIf="news" class="singleNews">
        <div class="container" [ngClass]="{'disableScroll': (!bookmarkFlag || !shareFlag) && !skip}">
            <img src="{{mediaPath}}{{news.newsImage}}" onerror="this.src='../../assets/images/placeholder.png'" alt="" class="postImage" />
            <div class="text-block"></div>
        </div>

        <div class="subPostTitle" [ngClass]="{'disableScroll': (!bookmarkFlag || !shareFlag) && !skip}">
            <p class="newsInfo" *ngIf="news.picCredit">
                <span>PC : </span><span class="picCredit"> {{news.picCredit}}</span>
            </p>
        </div>
        <div class="newsContent">
            <div class="postTitle" [ngClass]="{'disableScroll': (!bookmarkFlag || !shareFlag) && !skip}">
                <p *ngIf="news[language].title" [ngClass]="{'assameseFont': language == 'as'}" [ngClass]="{'assameseFontTitle': language == 'as'}">
                    {{news[language].title}}
                </p>
                <p *ngIf="!news[language].title">
                    {{news.en.title}}
                </p>
            </div>
            <div class="category_title" [ngClass]="{'disableScroll': (!bookmarkFlag || !shareFlag) && !skip}">
                <span (click)="singleCategory(news.newsCategoryId,news.newsCategory[language])" *ngIf="news.newsCategory[language]" [ngClass]="{'assameseFont': language == 'as'}">
          {{news.newsCategory[language] | slice:0:30}}
        </span>
                <span (click)="singleCategory(news.newsCategoryId,news.newsCategory.en)" *ngIf="!news.newsCategory[language]">
          {{news.newsCategory.en | slice:0:30}}
        </span>
            </div>
            <div class="post" [ngClass]="{'disableScroll': (!bookmarkFlag || !shareFlag) && !skip}">
                <p [innerHTML]="byPassedNews" *ngIf="byPassedNews"></p>
                <p [innerHTML]="byPassedNewsEn" *ngIf="!byPassedNews"></p>
            </div>
            <span class="float unbookmarkFloat" *ngIf="!news.bookmarkKey" (click)="bookmark(news.newsId)">
        <span *ngIf="!skip">
          <div
            class="tourText tourTextBookmark tourTextBook"
            *ngIf="bookmarkFlag != '1'"
          >
            {{clickBookmark[language]}}
          </div>
          <div class="ripple_effect" *ngIf="bookmarkFlag != '1'"></div>
        </span>
            <img src="assets/images/bookmarkWhite.png" height="52%" alt="" />
            </span>
            <span class="float bookmarkFloat" *ngIf="(news.bookmarkKey || loginBookmark)" (click)="bookmark(news.newsId)">
        <img src="assets/images/bookmarkWhite.png" height="52%" alt="" />
      </span>
            <span class="float floatShare" (click)="sharePost(news.fcmLink, news, news.newsImage, false)">
        <span *ngIf="!skip">
          <div class="tourText tourTextShare" *ngIf="shareFlag != '1'">
            {{clickShare[language]}}
          </div>
          <div class="ripple_effect" *ngIf="shareFlag != '1'"></div>
        </span>
            <img src="assets/images/Share.png" class="icon shareImage" />
            </span>
        </div>
        <div class="subPostTitle postSource" *ngIf="news.srcTitle != '' && news.srcTitle != null && !news.srcTitle">
            <p class="newsInfo">
                <span>Source: </span
        ><span class="picCredit" (click)="openWithSystemBrowser(news.srcLink)">
          {{news.srcTitle}}</span
        >
      </p>
      <p class="newsInfo" *ngIf="!news.picCredit"></p>
    </div>
  </div>
  <p *ngIf="news" class="alsoRead">
    Also Read:
  </p>
  <div *ngFor="let news of singlepost; let i = index" class="singlePost">
    <app-related-post
      [news]="news"
      [language]="language"
      [postCount]="i"
    ></app-related-post>
  </div>

  <!-- modal bookmark -->
  <div id="open-modal" class="modal-window" *ngIf="bookmarkModal">
    <div>
      <div class="img_border">
        <img src="assets/images/bookmarkNew.png" alt="" />
      </div>
      <div class="textBoxModal">
        <h3>{{modalBookmarkTitle[language]}}</h3>
        <p>{{modalBookmarkText[language]}}</p>
      </div>
      <div>
        <button class="signupButton" (click)="signupBookmark()">
          {{modalSignupButton[language]}}
        </button>
        <button class="signupButton skipButton" *ngIf="skip" (click)="bookmarkClose()">
          {{modalSkipButton[language]}}
        </button>
        <button class="signupButton skipButton" *ngIf="!skip" (click)="bookmarkClose()">
          <div
            class="ripple_effect ripple_effect_modal"
            *ngIf="!bookmarkFlag"
          ></div>
          {{next[language]}}
        </button>
      </div>
    </div>
  </div>

  <!-- modal share -->
  <div id="open-modal" class="modal-window" *ngIf="shareModal">
    <div>
      <div class="img_border">
        <img src="assets/images/share.png" alt="" />
      </div>
      <div class="textBoxModal">
        <h3>{{sharePostModal[language]}}</h3>
        <p>{{sharePostModalContent[language]}}</p>
      </div>
      <div>
        <button class="signupButton" (click)="shareClose();signupBookmark()">
          {{modalSignupButton[language]}}
        </button>
        <button class="signupButton skipButton" *ngIf="skip" (click)="shareClose()">
          {{modalSkipButton[language]}}
        </button>
        <button class="signupButton skipButton" *ngIf="!skip" (click)="shareClose()">
          <div
            class="ripple_effect ripple_effect_modal"
            *ngIf="!shareFlag"
          ></div>
          {{next[language]}}
        </button>
      </div>
    </div>
  </div>
</ion-content>
<ion-content *ngIf="loading" class="loadingContent"> </ion-content>