p {
    margin: 5px;
}

.homeBack {
    float: left;
    font-size: 20px;
    margin-top: 12px;
    margin-left: 10px;
}
.title{
    margin-left: 10px;
    font-size: 18px;
    line-height: 35px;
   
}

ion-back-button {
    margin: 0 !important;
}

.postImage {
    object-fit: cover;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.postTitle p {
    font-size: 30px;
    font-weight: 500;
    padding-left: 10px;
    letter-spacing: 0.5px;
    padding-top: 43px;
}

.subPostTitle,
.post p {
    font-size: 15px;
    font-weight: 300;
    padding-left: 10px;
}

.catTitle {
    color: var(--main-app-color);
    font-weight: 400;
}

.createdBy {
    font-weight: 600 !important;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#sourceLink {
    color: #0800ff;
    font-weight: 500;
    border-bottom: 1px solid;
}

.shareImage {
    height: 22px;
    float: right;
    margin: 15px;
}

a.float+div.label-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover+div.label-container {
    visibility: visible;
    opacity: 1;
}

.floatBookmark {
    right: 40px;
}

.picCredit {
    font-weight: normal!important;
}

.unbookmark {
    color: var(--main-app-color);
    font-size: 25px;
}

.bookmarked {
    color: #cbc9c9;
    font-size: 25px;
}

.actionButton {
    font-size: 22px;
    padding: 5px 11px;
    border-bottom: 1px solid #dcdcdc;
    display: table;
    width: 100%;
}

.actionButton span {
    font-size: 17px !important;
}

.heart_icon {
    float: left;
    padding-right: 5px;
    margin-top: 2px;
}

.singleNews {
    border-bottom: 1px solid rgb(238, 238, 238);
}

.newsContent {
    padding-right: 10px;
}

ion-title.md {
    float: left;
    line-height: 46px;
    padding-left: 10px;
    padding-top: 1px;
}
ion-title.ios{
    
    padding-left: 60px;
  
}

.liked {
    color: var(--main-app-color);
}

.newsInfo {
    font-size: 12px;
}

.float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 3%;
    right: 40px;
    background-color: var(--main-app-color);
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 111;
    opacity: 0.7;
}

.float img {
    margin-top: 31%;
}

.floatShare {
    bottom: 13%;
    right: 40px;
}

.my-float {
    margin-top: 28%;
}

.unbookmarkFloat {
    background-color: #cbc9c9;
}

.bookmarkFloat {
    background-color: var(--main-app-color);
}

.shareButton {
    float: right;
    background-color: var(--main-app-color);
    border-radius: 50%;
    padding: 5px;
}


/*Huge thanks to @tobiasahlin at http://tobiasahlin.com/spinkit/ */

.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

.spinner>div {
    width: 18px;
    height: 18px;
    background-color: var(--main-app-color);
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.imageCredit {
    float: right;
    margin: 13px 13px 0px 13px;
}

// .postTitle {
//   margin-top: 35px;
// }
.likesSpan img {
    height: 18px;
}

.newsInfo span {
    font-weight: 700;
}

.srcLink {
    color: var(--main-app-color);
}

.container {
    position: relative;
    font-family: Arial;
    padding-top: calc(100% * 9 / 16);
    overflow: hidden;
}

.alsoRead {
    font-size: 20px;
    font-weight: bolder;
    padding: 20px 0px 20px 10px;
}

.category_title {
    display: inline-block;
}

.text-block {
    position: absolute;
    bottom: 7%;
    color: white;
    padding: 0 2%;
    z-index: 1;
    font-weight: 700;
    font-size: 17px;
}

// .container:after {
//   content: "";
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   background-color: rgba(0, 0, 0, 0.4);
//   z-index: 0;
//   height: 100%;
// }
.category_title p {
    background-color: var(--main-app-color);
    padding: 5px;
    border-radius: 13px;
    opacity: 0.9;
    font-size: 13px;
}

.contentFeeds {
    height: 110px;
}

.categoryButton {
    display: block;
    margin-top: 4%;
    background-color: var(--main-app-color);
    color: #fff;
    padding: 5px;
    border-radius: 8px;
    z-index: -1;
}

.otherInfo {
    margin: 0px auto;
    color: gray;
    bottom: 0;
    position: absolute;
}

.otherInfoSecond {
    margin: 0px auto;
    color: gray;
    margin-top: 5px;
    position: absolute;
    font-weight: 600;
}

img.likeImage {
    height: 11px;
}

.otherInfoSecond span {
    font-size: 14px;
    padding-left: 4px;
}

.optionsList {
    margin: 0px auto;
    font-weight: 700;
    font-size: 15.5px;
}

.newsImg img {
    width: 100%;
    height: 84px;
    object-fit: cover;
    border-radius: 6px;
}

.newsCat {
    color: var(--main-app-color);
}

.latestNews {
    font-size: 30px;
    font-weight: 800;
}

.feeds {
    margin-bottom: 10px;
}

.timeAgo {
    opacity: 0.8;
    font-weight: normal;
}

.imgCredit span {
    color: var(--main-app-color);
    font-weight: 600;
}

.imgCredit {
    font-size: 12px;
}