<ion-row *ngIf="index == 0">
  <ion-col size="12" class="latestPost">
    <img class="latestpostimg" src="{{mediaPath}}{{news.newsImage}}" height="100%" width="100%"
      (click)="singleNews(news.newsId)">
    <div class="textBlock">
      <span class="latestNews" *ngIf="language == 'English'" [innerHTML]="news.newsTitleEnglish"
        (click)="singleNews(news.newsId)"></span>
      <span *ngIf="news.newsTitleEnglish.length >= 40 && language == 'English'" class="latestNews">...</span>
      <span class="latestNews" *ngIf="language == 'Hindi'" [innerHTML]="news.newsTitleHindi | slice:0:40"
        (click)="singleNews(news.newsId)"></span>
      <span class="latestNews" *ngIf="news.newsTitleHindi.length >= 40 && language == 'Hindi'">...</span>
      <button (click)="categoryClick(news.newsCategoryId, news.newsCategory)"
        class="categoryButton">{{news.newsCategory}}</button>
      <p class="latestNewsInfo"><img src="assets/images/lightbulb_red.png" alt="" class="likeImage">
        {{news.likesCount}}
        likes <span class="timeAgo"> {{news.createdAt | timeAgo}} </span></p>
    </div>
  </ion-col>
</ion-row>