
.newsImg {
  padding: 0;
  height: 100%;
  min-width: 98px;
  background: url("../../assets/images/placeholder.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 50%;
  background-position: center;
}
.textBlock {
  position: absolute;
  top: 30%;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1;
}
.categoryButton {
  font-size: 13px;
  padding-top: 2%;
  color: var(--main-app-color);
  display: inline-block;
}
.postDescription{
  padding-top: 0;
  padding-left: 13px;
}
// ion-list{
//   min-height: 117px;
//   max-height: 117px;
// }
.otherInfo {
  margin: 0px auto;
  color: gray;
  bottom: 0;
  position: absolute;
}

.otherInfoSecond {
  margin: 0px auto;
  color: gray;
  margin-top: 5px;
  font-weight: 600;
  font-size: 12px;
}
img.likeImage {
  height: 13px;
}
.otherInfoSecond span {
  font-size: 12px;
  padding-left: 4px;
}
.optionsList {
  margin: 0px auto;
  font-weight: 700;
  font-size: 15.5px;
  display: block;
}

.newsImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
  display: block;
  border-radius: 6px;
}
.newsCat {
  color: var(--main-app-color);
}

.latestNews {
  font-size: 30px;
  font-weight: 800;
}
.noBookmark {
  position: relative;
  height: 100%;
  width: 100%;
}
.noBookmark img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.timeAgo{
  opacity: 0.8;
  font-weight: normal;
}
.borderBottom{
  border-bottom: 1px solid #777777;
}
.isVisited{
  color: #609
}