<ion-list lines="none" [ngClass]="{'isVisited':isPresent}">
  <ion-item-sliding class="feeds">
    <ion-item [ngClass]="{'isVisited':isPresent}">
      <ion-col size="3" class="newsImg" padding>
        <img
          src="{{mediaPath}}{{news.newsImage}}"
          data-src="assets/images/placeholder.png'"
          onerror="this.src='../../assets/images/placeholder.png'"
          width="100%"
          (click)="singleNews(news.newsId)"
          class="loading"
        />
      </ion-col>
      <ion-col
        size="9"
        class="postDescription"
        (click)="singleNews(news.newsId)"
      >
        <div>
          <span
            class="optionsList"
            *ngIf="news[language].title"
            [ngClass]="{'assameseFont': language == 'as'}"
            [innerHTML]="news[language].title"
          ></span>
          <span
            class="optionsList"
            *ngIf="!news[language].title"
            [ngClass]="{'assameseFont': language == 'as'}"
            [innerHTML]="news.en.title"
          ></span>
          <span
            class="categoryButton"
            *ngIf="news.newsCategory[language]"
            [ngClass]="{'assameseFont': language == 'as'}"
            (click)="categoryClick(news.newsCategoryId,news.newsCategory[language]);wrongStatus = true"
            >{{news.newsCategory[language]}}</span
          >
          <span
            class="categoryButton"
            *ngIf="!news.newsCategory[language]"
            [ngClass]="{'assameseFont': language == 'as'}"
            (click)="categoryClick(news.newsCategoryId,news.newsCategory[language]);wrongStatus = true"
            >{{news.newsCategory.en}}</span
          >
        </div>
      </ion-col>
    </ion-item>
  </ion-item-sliding>
</ion-list>