<div>
  <div class="settingsToolbar">
    <ion-back-button
      name="arrow-round-back"
      class="homeBack"
      class="homeBack"
      defaultHref="/settings"
      float-left
    >
    </ion-back-button>
    <span id="settingTitle"> {{catTitle[language]}}</span>
    <button float-right routerLink="/home">
      <ion-icon name="home"></ion-icon>
    </button>
  </div>
</div>

<ion-content *ngIf="language && !loading">
  <ion-row *ngIf="categories">
    <ion-col size="6" *ngFor="let category of categories" class="categoryTiles">
      <app-category-tiles
        [category]="category"
        (onSubscribe)="subscribedCategory($event, isNotify)"
        [language]="language"
      ></app-category-tiles>
    </ion-col>
  </ion-row>
</ion-content>
<ion-content *ngIf="loading" class="loadingContent"> </ion-content>