<ion-content>
    <ion-row class="feeds" *ngIf="newsArray && newsArray.length && latestPost">
        <app-large-post [news]="latestPost" [language]="language"></app-large-post>
        <span *ngFor="let news of newsArray">
            <app-post-tiles [news]="news"></app-post-tiles>
        </span>
    </ion-row>
    <div id="loader-wrapper" *ngIf="loading">
        <div id="loader">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <p class="text-center">Loding...</p>
        </div>
    </div>
</ion-content>