<ion-content (swiperight)="goToCategories()" ion-padding>
    <ion-row class="feeds" *ngFor="let news of newsArray; let i = index; last as isLast">
        <ion-col *ngIf="i == 0" size="12">
            <img src="{{mediaPath}}{{news.newsImage}}" height="100%" width="100%" (click)="singleNews(news.newsId)">
        </ion-col>
        <ion-col *ngIf="i == 0" size="12">
            <span class="latestNews" *ngIf="language == 'English'" [innerHTML]="news.newsTitleEnglish"
                (click)="singleNews(news.newsId)"></span>
            <span class="latestNews" *ngIf="language == 'Hindi'" [innerHTML]="news.newsTitleHindi"></span>
            <p class="latestNewsInfo">{{news.likesCount}} likes | {{news.createdAt | timeAgo}} | <span class="newsCat"
                    (click)="categoryClick(news.newsCategoryId, news.newsCategory)">{{news.newsCategory | slice:0:20}}</span>
            </p>
        </ion-col>
        <ion-col size="5" class="newsImg" padding *ngIf="i != 0">
            <img src="{{mediaPath}}{{news.newsImage}}" height="73px" width="100%" (click)="singleNews(news.newsId)">
        </ion-col>
        <ion-col size="7" *ngIf="i != 0">
            <div>
                <span class="optionsList" *ngIf="language == 'English'" [innerHTML]="news.newsTitleEnglish | slice:0:40"
                    (click)="singleNews(news.newsId)"></span><span *ngIf="language == 'English'">...</span>
                <span class="optionsList" *ngIf="language == 'Hindi'"
                    [innerHTML]="news.newsTitleHindi | slice:0:40"></span><span *ngIf="language == 'Hindi'"
                    (click)="singleNews(news.newsId)">...</span>
                <p class="otherInfo">{{news.createdAt | timeAgo}} | <span class="newsCat"
                        (click)="categoryClick(news.newsCategoryId, news.newsCategory)">{{news.newsCategory | slice:0:20}}</span>
                </p>
                <p class="otherInfoSecond">{{news.likesCount}} likes</p>
            </div>
        </ion-col>
    </ion-row>
    <div id="loader-wrapper" *ngIf="loading">
        <div id="loader">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <p class="text-center">Loding...</p>
        </div>
    </div>
</ion-content>