<ion-header>
    <ion-toolbar>
        <ion-icon name="arrow-round-back" class="homeBack" routerLink="/home" float-left></ion-icon>
        <ion-title>{{catName}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content (swiperight)="goToCategories()" ion-padding>
    <ion-row class="feeds" *ngIf="news">
        <app-large-post [news]="news" [language]="language"></app-large-post>
    </ion-row>
    <ion-row class="feeds" *ngIf="news && newsArray && newsArray.length">
        <span *ngFor="let news of newsArray;">
            <app-post-tiles [news]="news" [language]="language"></app-post-tiles>
        </span>
    </ion-row>
    <ion-row class="onePost" *ngIf="newsArrayLength">
        <ion-col size="12">Only one post in this category !</ion-col>
    </ion-row>
    <ion-row class="onePost" *ngIf="noNews == true">
        <ion-col size="12">No posts in this category !</ion-col>
    </ion-row>
    <div id="loader-wrapper" *ngIf="loading">
        <div id="loader">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <p class="text-center">Loading...</p>
        </div>
    </div>
</ion-content>