ion-back-button.homeBack.md.hydrated {
  float: left !important;
  font-size: 24px;
  margin-left: 10px;
}
ion-back-button.homeBack.ios.hydrated {
  float: left !important;
  font-size: 24px;
  margin-left: 10px;
}

.newsImg {
  padding: 6px;
  height: 88px;
}
.latestPost {
  padding: 0;
}
.latestPost:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}
.latestpostimg {
  height: 326px;
  object-fit: cover;
}
.textBlock {
  position: absolute;
  top: 30%;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1;
}
.contentFeeds{
  height: 110px;
}
.categoryButton{
  display: block;
  margin-top: 4%;
  background-color: var(--main-app-color);
  color: #fff;
  padding: 5px;
  border-radius: 8px;
}
.otherInfo {
  margin: 0px auto;
  color: gray;
  bottom: 0;
  position: absolute;
}
.otherInfoSecond {
  margin: 0px auto;
  color: gray;
  margin-top: 5px;
  position: absolute;
  font-weight: 600;
}
img.likeImage {
  height: 11px;
}
.otherInfoSecond span {
  font-size: 14px;
  padding-left: 4px;
}
.optionsList {
  margin: 0px auto;
  font-weight: 700;
}
.newsImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
  display: block;
  border-radius: 6px;
}
.newsCat {
  color: var(--main-app-color);
}
.latestNews {
  font-size: 30px;
  font-weight: 800;
}
.timeAgo{
  opacity: 0.8;
  font-weight: normal;
}
.onePost {
  margin-top: 100px;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
}