<ion-header>
	<ion-toolbar>
		<div>
			<ion-icon name="settings" class="iconSettings" routerLink="/settings" float-left></ion-icon>
			<span float-right class="iconForward"><ion-icon name="arrow-forward"></ion-icon></span>
			<span routerLink="/home" float-right id="feedsLink">Feeds</span>
			<ion-title class="ion-text-center">
				Trivia Post
			</ion-title>
		</div>
	</ion-toolbar>
</ion-header>

<ion-content >
	<input placeholder="Search for news" (click)="search()">
	<ion-row>
			<h1 id="catHeading"><i>Topics</i> </h1>
	</ion-row>

	<ion-row>

		<ion-col size="6" *ngFor="let category of categories$ | async " class="catList">
            <ion-card class="catCard">
                <ion-card-content>
                    <div class="notification_bells">
                        <img src="assets/images/Category-notification.png" *ngIf="!category.isNotify" id="blackBell" (click)="addNotify(category.categoryId)">
                        <img src="assets/images/Category-notification-2.png" *ngIf="category.isNotify" id="redBell" (click)="addNotify(category.categoryId)">
                    </div>
                    <div *ngIf="language == 'English'" routerLink="/home/category/{{category.categoryId}}/{{category.categoryTitle}}">
                        <h2 id="catTitle" ><strong>{{category.categoryTitle}}</strong></h2>
					</div>
					<div *ngIf="language == 'Hindi'" routerLink="/home/category/{{category.categoryId}}/{{category.categoryTitleHn}}">
                        <h2 id="catTitle" ><strong>{{category.categoryTitleHn}}</strong></h2>    
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
	</ion-row>
	<div id="loader-wrapper" *ngIf="loading">
		<div id="loader">
			<span class="logo_container">
				<img src="../../assets/images/Logo.png" alt="logo">
			</span>
			<div class="ml-loader">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<p class="text-center">Loding Data...</p>
		</div>
	</div>
</ion-content>