input{
    height: 38px !important;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    background-color: #eff1f5 !important;
    border-radius: 10px !important;
    color: black !important;
    width: 93%!important;
    padding: 14px!important;
    margin: 14px!important;
}

.catList{
    padding: 10px;
}

.catCard{
    background-image: url('assets/images/brownbg.png');
    margin: 0 auto;
    height: 100%;
    border-radius: 0!important;
    box-shadow: none!important;
    background-size: 100% auto;
    background-position: center;
}

.catCard ion-card-content{
    margin: auto;
    padding: 35px 15px 25px;
    text-align: center;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
}
.notification_bells {
    position: absolute;
    top: 8px;
    right: 8px;
}
#blackBell{
    width: 11px!important;
    height: 14px;
}

#redBell{
    width: 16px!important;
    height: 17px;
}

#catTitle{
    margin-top: 0px;
    font-size: 16px
}

#catHeading{
    font-size: 28px;
    padding-left: 16px;    
}

.iconForward{
    margin-right: 10px;
    margin-top: 3px;
}

.iconSettings{
    font-size: 20px;
    margin-top: 3px;
    padding-left: 15px;
}

#feedsLink{
    font-size: 16px;
    padding-bottom: 5px;
    margin-right: 5px;
}