/*
* App Global CSS
* ----------------------------------------------------------------------------
* Put style rules here that you want to apply globally. These styles are for
* the entire app and not just one component. Additionally, this file can be
* used as an entry point to import other CSS/Sass files to be included in the
* output CSS.
* For more information on global stylesheets, visit the documentation:
* https://ionicframework.com/docs/layout/global-stylesheets
*/

/* Core CSS required for Ionic components to work properly */
//page navigation animation
// ion-router-outlet > .ion-page {
//   animation: fadeIn 0.3s 1 forwards;
// }
// @keyframes fadeIn {
//   0% {
//     opacity: 0;
//     transform: translate3d(0, 5vh, 0);
//   }
//   100% {
//     opacity: 1;
//     transform: translate3d(0, 0, 0);
//   }
// }

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//color variable root
// var(--main-app-color);

@font-face {
  font-family: Rubik;
  src: url("assets/fonts/century_gothic.ttf");
}
@font-face {
  font-family: Assamese;
  src: url("assets/fonts/AS-TTEkushey.ttf");
}
:root {
  --main-app-color: #e41212;
  --main-tool-color: #e41212;
}
ion-icon:focus,
#feedsLink:focus {
  outline: none;
}
ion-toolbar {
  top: 0;
  left: 0;
  /* padding: 0 90px 1px; */
  width: 100%;
  height: 100%;
  text-align: center;
}
.assameseFont {
  font-family: Assamese !important;
  font-size: 19px !important;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: bold !important;
}
.assameseFontContent{
  font-weight: normal!important;
}
ion-spinner {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
}

* {
  outline: none;
}

ion-header ion-toolbar:first-child {
  --background: #e41212 !important;
  position: relative;
}

ion-toolbar {
  color: #fff !important;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  min-height: 100vh;
  background-color: #f5f5dc;
}

.logo_container {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.logo_container img {
  max-width: 180px;
}

#loader {
  display: block;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#loader-wrapper {
  background: #fff !important;
}
.welcomeTo {
  font-weight: 500;
  font-size: 30px;
}
.appDesc {
  font-size: 25px;
}
/*Huge thanks to @tobiasahlin at http://tobiasahlin.com/spinkit/ */
.spinner {
  margin: 30px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: red;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.myActionSheetBtnStyle {
  color: red !important;
}

.ripple_effect {
  position: absolute;
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: #fff !important;
  top: -5px;
  left: 5px;
  border: 1px solid rgb(228, 35, 16);
  z-index: 1;
}
.ripple_effect:after {
  opacity: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  border: 5px solid rgb(228, 35, 16);
  border-radius: 100%;
  -webkit-animation-name: ripple;
  animation-name: ripple;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.325, 0, 0.17, 1);
  animation-timing-function: cubic-bezier(0.325, 0, 0.17, 1);
  z-index: -1;
}
.ripple_effect:before {
  opacity: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  border: 5px solid rgb(228, 35, 16);
  border-radius: 100%;
  -webkit-animation-name: ripple;
  animation-name: ripple;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.325, 0, 0.17, 1);
  animation-timing-function: cubic-bezier(0.325, 0, 0.17, 1);
  z-index: -1;
}
@-webkit-keyframes ripple {
  from {
    opacity: 1;
    -webkit-transform: scale3d(0.75, 0.75, 1);
    transform: scale3d(0.75, 0.75, 1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(2.5, 2.5, 1);
    transform: scale3d(2.5, 2.5, 1);
  }
}

@keyframes ripple {
  from {
    opacity: 1;
    -webkit-transform: scale3d(0.75, 0.75, 1);
    transform: scale3d(0.75, 0.75, 1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(2.5, 2.5, 1);
    transform: scale3d(2.5, 2.5, 1);
  }
}

.alertCustomCss {
  --background: #cf2736 !important;
  color: white;
  .alert-message,
  .alert-sub-title.sc-ion-alert-md,
  .alert-title.sc-ion-alert-md {
    color: white !important;
    margin-bottom: 10px;
  }
  .alert-button-group button {
    color: #fff;
    font-size: 13px;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 5px 10px !important;
  }
  .alert-wrapper {
    min-width: 90%;
    margin-top: 100% !important;
  }
}

.settingsToolbar {
  background-color: #e41212 !important;
  display: table;
  width: 100%;
  padding: 5px;
  color: #fff;
}
.settingsToolbar ion-back-button {
  float: left;
  height: 45px !important;
  width: 45px !important;
  min-width: auto !important;
}
.settingsToolbar #settingTitle {
  float: left;
  text-align: center;
  width: calc(100% - 110px);
  padding: 14px 0px;
  margin: 0px 10px;
  color: #fff;
  font-weight: 900;
  font-size: 18px;
  display: block;
  line-height: 16px;
}

.settingsToolbar ion-input {
  float: left;
  width: calc(100% - 110px);
  padding: 0;
  margin: 0px 10px;
  color: #fff;
  font-size: 18px;
}
.settingsToolbar ion-input input {
  padding: 0 !important;
  height: 45px !important;
}

.settingsToolbar button {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  height: 45px;
  width: 45px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}


.catOverlay {
  --background: none;
  background: rgba(0,0,0,0.1); 
}

.introjs-overlay{
  background: rgba(0,0,0,0.1);
}
.introjs-helperLayer {
  background: transparent;
  width: 106px!important;
}

.introjs-overlay {
  opacity: 0 !important;
}

.introjs-helperLayer:before {
  opacity: 0;
  content: '';
  position: fixed;
  width: inherit;
  height: inherit;
  // border-radius: 0.5em;
  box-shadow: 0 0 0 1000em rgba(0,0,0, .9);
  opacity: 1;
}

.introjs-helperLayer:after {
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 1000;
}
.introjs-bullets{
  display: none;
}
.introjs-helperNumberLayer{
  display: none;
}

.backgroundOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #000000;
  opacity: 0.85;
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  z-index: 101;
}
/*   This is the Popup Window   */
.delayedPopupWindow {
  position: fixed;
  width: 80%;
  background-color: #efefef;
  border: 2px solid #333;
  z-index: 102;
  padding: 10px 20px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 11px;
}
.img_border {
  position: absolute;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 50%;
  margin: auto;
  width: 77px;
  height: 77px;
  padding: 13px;
  top: -10%;
  left: 0;
  right: 0;
  box-shadow: 2px 2px 3px 0 #ddd;
  padding-top: 5px;
}
.rateButtons {
  float: right;
}
.delayedPopupWindow h5 {
  margin-top: 50px;
  text-align: center;
  font-weight: bolder;
  color: #e41212;
}
.delayedPopupWindow p{
  text-align: center;
  font-size: 14px;
  margin-bottom: 38px;
  padding: 0px 20px;
}
.delayedPopupWindow .ratingBack{
  height: 248px;
  right: 0;
  float: right;
  position: absolute;
  bottom: 0;
}
#rateButton {
  background: #e41212;
  color: #fff;
  padding: 7px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.rateButton {
  text-align: center;
  position: relative;
  z-index: 11;
  padding: 0 17px;
}
button#remindLater,button#noThanks {
  background: none;
  padding: 7px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 10px;
  border: 1px solid #e41212;
  color: #e41212;
}
