<ion-header no-border>
    <ion-toolbar>
        <ion-icon name="settings" class="homeBack" routerLink="/settings" float-left></ion-icon>
        <ion-icon name="search" class="searchIcon" float-right (click)="search()"></ion-icon>
        <ion-title class="ion-text-center">
            Trivia Post
        </ion-title>
    </ion-toolbar>
</ion-header>
<super-tabs activeTabIndex="1" [config]="config">
    <super-tabs-toolbar slot="top">
        <super-tab-button>
            <ion-label>Categories</ion-label>
        </super-tab-button>
        <super-tab-button>
            <ion-label>Feeds</ion-label>
        </super-tab-button>
    </super-tabs-toolbar>

    <super-tabs-container>
        <!-- categories tab-->
        <super-tab>
            <ion-content>
                <ion-row *ngIf="categories">
                    <ion-col size="6" *ngFor="let category of categories" class="categoryTiles">
                        <app-category-tiles [category]="category" (onSubscribe)="subscribedCategory($event, isNotify)"
                            [language]="language"></app-category-tiles>
                    </ion-col>
                </ion-row>
            </ion-content>
        </super-tab>
        <!-- feeds tab-->
        <super-tab>
            <ion-content>
                <ion-row class="feeds" *ngIf="newsArray && newsArray.length && latestPost">
                    <app-large-post [news]="latestPost" [language]="language"></app-large-post>
                    <span *ngFor="let news of newsArray" class="newsTiles">
                        <app-post-tiles [news]="news" [language]="language"></app-post-tiles>
                    </span>
                </ion-row>
            </ion-content>
        </super-tab>
    </super-tabs-container>
</super-tabs>

<!-- loader -->
<div id="loader-wrapper" *ngIf="loading">
    <div id="loader">
        <span class="welcomeTo">Welcome to</span>
        <span class="logo_container">
            <img src="../../assets/images/Logo.png" alt="logo">
        </span>
        <div class="welcomeTo appDesc">Interesting and</div>
        <div class="welcomeTo appDesc">Informative reads</div>
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <p class="text-center">Loading...</p>
    </div>
</div>
<div class="no-news-text" *ngIf="isTextVisible">
    <span>{{text}}</span>
</div>