<ion-header no-border>
    <ion-toolbar>
        <ion-icon name="settings" class="homeBack" routerLink="/settings" float-left></ion-icon>
        <ion-icon name="search" class="searchIcon" float-right (click)="search()"></ion-icon>
        <ion-title class="ion-text-center">
            Trivia Post
        </ion-title>
    </ion-toolbar>
</ion-header>
<super-tabs activeTabIndex="0" [config]="{ allowElementScroll: true }">
    <super-tabs-toolbar slot="top">
        <super-tab-button (click)="click($event)">
            <ion-label>Categories</ion-label>
        </super-tab-button>
        <super-tab-button (click)="click($event)">
            <ion-label>All feeds</ion-label>
        </super-tab-button>
    </super-tabs-toolbar>

    <super-tabs-container>
        <super-tab>
            <ion-nav [root]="categoryPage"></ion-nav>
        </super-tab>
        <super-tab>
            <ion-nav [root]="allPostPage"></ion-nav>
        </super-tab>
    </super-tabs-container>
</super-tabs>
<div id="loader-wrapper" *ngIf="loading">
    <div id="loader">
        <span class="welcomeTo">Welcome to</span>
        <span class="logo_container">
            <img src="../../assets/images/Logo.png" alt="logo">
        </span>
        <div class="welcomeTo appDesc">Interesting and</div>
        <div class="welcomeTo appDesc">Informative reads</div>
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <p class="text-center">Loding...</p>
    </div>
</div>
<div class="no-news-text" *ngIf="isTextVisible">
    <span>{{text}}</span>
</div>