<ion-header no-border>
  <ion-toolbar *ngIf="language && catSelect == '1'">
    <ion-icon
      name="settings"
      class="homeBack"
      routerLink="/settings"
      float-left
    ></ion-icon>
    <ion-icon
      name="search"
      class="searchIcon"
      float-right
      (click)="search()"
    ></ion-icon>
    <ion-title class="ion-text-center">
      Trivia Post
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-header no-border>
  <ion-toolbar *ngIf="!language">
    <ion-title>
      Language
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-header no-border>
  <ion-toolbar *ngIf="language && catSelect == 0">
    <ion-title>
      Category
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="!language">
  <div
    class="languageSelect"
    style="height: 100%;background-image: url('../../assets/images/settingBackground.png');background-repeat: no-repeat;background-size: cover;"
  >
    <div class="langHead">
      <img src="../../assets/images/subject.png" height="30px" width="30px" />
      <p>Choose your preferred language</p>
    </div>
    <ion-row>
      <ion-col size="4" *ngFor="let lang of languageList;let i = index">
        <ion-card tabindex="{{i}}" [style.background]="selected==lang.slug?'red':'white'" [style.color]="selected==lang.slug?'white':'black'" class="divs" (click)="selected=lang.slug">
          {{lang.lang}}
        </ion-card>
      </ion-col>
    </ion-row>
    <button class="contButton" (click)="selectLang()">Continue</button>
  </div>
</ion-content>
<ion-content *ngIf="language && catSelect == '0'">
  <ion-row *ngIf="categories">
    <ion-col size="6" *ngFor="let category of categories" class="categoryTiles">
      <app-category-tiles
        [category]="category"
        (onSubscribe)="subscribedCategory($event, isNotify)"
        [language]="language"
        [firstTime]="true"
      ></app-category-tiles>
    </ion-col>
  </ion-row>
</ion-content>
<ion-content *ngIf="latestPost && language && catSelect == 1">
  <ion-row class="feeds">
    <app-large-post
      [news]="latestPost"
      *ngIf="latestPost"
      [language]="language"
    ></app-large-post>
    <span *ngFor="let news of newsArray" class="newsTiles">
      <app-post-tiles [news]="news" [language]="language"></app-post-tiles>
    </span>
  </ion-row>
</ion-content>

<!-- loader -->
<div id="loader-wrapper" *ngIf="loading">
  <div id="loader">
    <span class="welcomeTo">Welcome to</span>
    <span class="logo_container">
      <img src="../../assets/images/Logo.png" alt="logo" />
    </span>
    <div class="welcomeTo appDesc">Interesting and</div>
    <div class="welcomeTo appDesc">Informative reads</div>
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <p class="text-center">Loading...</p>
  </div>
</div>
<div class="no-news-text" *ngIf="isTextVisible">
  <span>{{text}}</span>
</div>