<div>
  <div class="settingsToolbar">
    <ion-back-button
      name="arrow-round-back"
      class="homeBack"
      class="homeBack"
      defaultHref="/home"
    >
    </ion-back-button>
    <span id="settingTitle"> Options</span>
    <button
      id="profile"
      *ngIf="tokenLocalStorage && firstCharUser"
      (click)="logout()"
    >
      {{ firstCharUser }}
    </button>
    <button
      id="personIcon"
      (click)="logout()"
      *ngIf="tokenLocalStorage && !firstCharUser"
    >
      <ion-icon
        name="person"
        style="vertical-align: text-bottom; font-size: 24px;"
      ></ion-icon>
    </button>
    <button float-right *ngIf="!tokenLocalStorage" routerLink="/home">
      <ion-icon name="home"></ion-icon>
    </button>
  </div>
</div>

<ion-content>
  <div class="settings loginDiv" padding *ngIf="!tokenLocalStorage">
    <h1 class="savePref">{{ savePref[language] }}</h1>
    <h4 class="signInBook">
      {{ signInText[language] }}
    </h4>
    <ion-row>
      <ion-col size="5" class="signInCol">
        <button id="signInButton" routerLink="/login">
          {{ signIn[language] }}
        </button>
      </ion-col>
      <ion-col size="7">
        <span id="loginOption">{{ orUsing[language] }}</span>

        <button id="facebookLogin" routerLink="/login">
          <img src="assets/images/Facebook.png" height="19px;" />
        </button>
        <button id="googleplus" routerLink="/login">
          <img src="assets/images/GooglePlus.png" height="16px;" />
        </button>
      </ion-col>
    </ion-row>
  </div>
  <div class="optionsDiv">
    <ul class="option_list">
      <li>
        <div class="icon_box">
          <span>Aa</span>
        </div>
        <div class="menu_link">
          <div class="menu_link_text">
            <span class="optionsList" *ngIf="language">{{
              languageText[language]
            }}</span>
          </div>
          <div class="lang_selector" (click)="changeLang(language)">
            <span class="selectIcon">
             <img src="../../assets/images/downarrow.png" alt="" height="15px">
            </span>
            <span class="langColor" *ngIf="language">{{
              langSelectText[language]
            }}</span>
          </div>
        </div>
      </li>
      <li routerLink="/bookmark">
        <div class="icon_box">
          <span><ion-icon name="bookmark"></ion-icon></span>
        </div>
        <div class="menu_link">
          <div class="menu_link_text">
            <span class="optionsList" *ngIf="language">{{
              bookmark[language]
            }}</span>
          </div>
        </div>
      </li>
      <li routerLink="/all-categories">
        <div class="icon_box">
          <span><ion-icon name="apps"></ion-icon></span>
        </div>
        <div class="menu_link">
          <div class="menu_link_text">
            <span class="optionsList" *ngIf="language">{{
              category[language]
            }}</span>
          </div>
        </div>
      </li>
      <li>
        <div class="icon_box">
          <span><ion-icon name="notifications-outline"></ion-icon></span>
        </div>
        <div class="menu_link">
          <div class="menu_link_text">
            <span class="optionsList" *ngIf="language">{{
              notification[language]
            }}</span>
          </div>
          <div class="lang_selector">
            <label
              class="switch"
              *ngIf="notifyFlag === 'true' || annonymousNotify === 'true'"
            >
              <input
                type="checkbox"
                (change)="notificationSwitch($event)"
                checked="checked"
              />
              <div></div>
            </label>
            <label
              class="switch"
              *ngIf="notifyFlag === 'false' || annonymousNotify === 'false'"
            >
              <input type="checkbox" (change)="notificationSwitch($event)" />
              <div></div>
            </label>
          </div>
        </div>
      </li>
      <li routerLink="/feedback">
        <div class="icon_box">
          <span><ion-icon name="chatboxes"></ion-icon></span>
        </div>
        <div class="menu_link">
          <div class="menu_link_text">
            <span class="optionsList" *ngIf="language">{{
              feedback[language]
            }}</span>
          </div>
        </div>
      </li>
      <li routerLink="/privacy">
        <div class="icon_box">
          <span><ion-icon name="lock"></ion-icon></span>
        </div>
        <div class="menu_link">
          <div class="menu_link_text">
            <span class="optionsList" *ngIf="language">{{
              privacy[language]
            }}</span>
          </div>
        </div>
      </li>
      <li routerLink="/terms">
        <div class="icon_box">
          <span><ion-icon name="paper"></ion-icon></span>
        </div>
        <div class="menu_link">
          <div class="menu_link_text">
            <span class="optionsList" *ngIf="language">{{
              terms[language]
            }}</span>
          </div>
        </div>
      </li>
      <li (click)="sendShare()">
        <div class="icon_box">
          <span><ion-icon name="share"></ion-icon></span>
        </div>
        <div class="menu_link">
          <div class="menu_link_text">
            <span class="optionsList" *ngIf="language">{{
              shareApp[language]
            }}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <ion-row id="ratingRow"> </ion-row>
</ion-content>
