
#googleplus {
  border-radius: 50%;
  margin-left: 10px;
  background-color: #e41212;
}
#facebookLogin {
  border-radius: 50%;
  margin-left: 10px;
  background-color: #3779b7;
}
.switch {
  display: inline-block;
  font-size: 20px;
  height: 1em;
  width: 2em;
  background-color: #c5bdbd;
  border-radius: 1em;
  float: right;
}
.switch input {
  position: absolute;
  opacity: 0;
}
.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: white;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}
.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  background: var(--main-app-color);
}
#profile,
#personIcon {
  display: table;
  text-align: center;
  background-color: red;
  color: #fff;
  height: 45px;
  width: 45px;
  line-height: 45px;
  border-radius: 50%;
  box-shadow: 0 0 15px -10px #000;
  font-weight: 900;
  float: right;
  font-size: 22px;
  text-transform: uppercase;
}
.savePref {
  font-size: 21px;
  margin: 10px 0px;
}
.signInBook {
  font-size: 15px;
  margin: 10px 0px;
  color: #333333;
}
.signInCol {
  padding-left: 0;
}
.langColor {
  color: #525252;
  float: right;
  display: block;
  line-height: 30px;
}
.action-sheet-group.action-sheet-group-cancel.sc-ion-action-sheet-md
  button.action-sheet-button.ion-activatable.action-sheet-cancel.sc-ion-action-sheet-md.activated {
  display: none !important;
}
#ratingRow {
  margin: 0;
  --background: none;
  background-image: url("../../assets/images/settingBag.png");
  position: absolute;
  bottom: 0;
  padding-top: 310px;
  background-size: 100% auto;
  background-position: right top;
  left: 0;
  right: 0;
}
.settings.settingIcon {
  position: relative;
  z-index: 11;
  padding: 0 7px;
}
.settingsLoggedIn {
  padding-top: 23px;
}
#loginOption {
  line-height: 3;
  margin-right: 6%;
}
.selectIcon {
  float: right;
  padding-left: 24px;
  height: 30px;
  position: relative;
}
.selectIcon img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 4px;
  margin: auto;
}
.optionsDiv {
  display: flex;
  -ms-flex-align: center;
  flex-wrap: wrap;
}
.optionsDiv ion-icon {
  color: #525252;
  font-size: 24px;
}
.loginDiv {
  height: 155px;
  border-bottom: 1px solid #ddd;
}
.item-radio.item ion-label {
  color: #dd6873;
}
.optionsList {
  font-size: 16px;
  color: gray;
}

ul.option_list {
  position: relative;
  z-index: 11;
  margin: 0;
  padding: 0;
  width: 100%;
}
ul.option_list li {
  display: flex;
  flex-wrap: nowrap;
  min-height: 40px;
  height: calc((100vh - 155px - 280px) / 8);
}
.loggedInDiv ul.option_list li {
  height: calc((100vh - 280px) / 8);
}
.icon_box {
  max-width: 50px;
  min-width: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.menu_link {
  display: flex;
  width: 100%;
  padding: 0px 20px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: center;
}

.signInButton {
  float: left;
  padding: 10px 38px;
  background-color: #e41212 !important;
  color: #fff;
  border-radius: 27px;
  margin-right: 10px;
}
.customLoginDiv span{
  padding-top: 0;
  display: inline-block;
  float: left;
  line-height: 33px;
}
.customLoginDiv button#facebookLogin,.customLoginDiv  button#googleplus{
  position: relative;
  height: 33px;
  width: 33px;
  padding: 0;
}
.customLoginDiv button#facebookLogin img,.customLoginDiv  button#googleplus img{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  min-width: 58%;
  max-width: 58%;
  min-height: 58%;
  max-height: 58%;
  object-fit: contain;
  margin: auto;
}